params.disable_msconvert = true
params.disable_fragpipe = false
params.disable_fp_analyst = true

params.input_folder = 'my/path/to/input/folder'
params.workflow = 'LFQ-MBR'
params.mode = 'DDA'
params.fasta_file = 'path/to/fasta/file.fasta'
params.ram = 8
params.threads = 16

process {
  withName:MSCONVERT {
    executor = 'slurm'
    memory = 32.GB
    cpus = 16
  }
  withName:FRAGPIPE {
    executor = 'slurm'
    memory = 32.GB
    cpus = 16
  }