//**************************************
//**** MAIN TOOLS CONFIGURATION ********
//**************************************
// Force install/update of all tool configuration files
// If true, IonQuant, MSFragger, diaTracer, and DIA-NN tools will be downloaded
params.config_tools = false

//**************************************
//**** SUBWORKFLOW TOGGLE SWITCHES *****
//**************************************
// false = ACTIVE, true = DISABLED

// Toggle MSConvert (file format conversion)
params.disable_msconvert = false

// Toggle FragPipe (main analysis pipeline)
params.disable_fragpipe = false

// Toggle FragPipe-Analyst module (post-analysis)
params.disable_fp_analyst = true

//******************************************************
//**************** MANDATORY PARAMETERS ****************
//******************************************************
// Input folder containing MS data files (e.g., .raw or .mzML)
params.input_folder = 'path/to/input/folder'

// Workflow mode: FP supported workflows (https://fragpipe.nesvilab.org/docs/tutorial_fragpipe_workflows.html)
// Also accepted custom worfklow files with .workflow extension (absolute path)
params.workflow = 'LFQ-MBR'

// MS analysis mode: 'DDA', 'DIA', or 'TMT'
params.mode = 'DDA'

// Path to the reference FASTA file (absolute path)
// Can also be a UniProt ID e.g. 'UP000005640'
params.fasta_file = 'path/to/fasta/file.fasta'


//*****************************************
//********** MSCONVERTER OPTIONS **********
//*****************************************
// File type of the raw data, e.g., 'raw' or 'wiff'
params.raw_file_type = 'raw'

// Number of files to convert in each batch - reduce paralell jobs if too many files
params.batch_size = 10


//*****************************************
//**********  FRAGPIPE OPTIONS ************
//*****************************************
// Resources: RAM in GB
params.ram = 16

// Number of threads to allocate for parallel tools
params.threads = 16

// Tag used to mark decoy sequences in the FASTA file
params.decoy_tag = 'rev_'

// Whether to split the database; 1 = no split
params.db_split = 1

params.use_custom_manifest = false
params.custom_manifest = 'path/to/custom_manifest.fp-manifest'

//****************************************
//**** DIA-NN OPTIONS ****
//****************************************

// Optional: DIA-NN binary download URL
// Leave blank to use the version bundled with FragPipe
params.diann_download = 'https://github.com/vdemichev/DiaNN/releases/download/2.0/DIA-NN-2.0.1-Academia-Linux.zip'

//*************************************
//**** FRAGPIPE-ANALYST PARAMETERS ****
//*************************************
// Path to experiment annotation TSV file (manually created)
// Only required if using FragPipe-Analyst standalone
params.experiment = '/path/to/file/experiment_annotation.tsv'

// Path to the protein/peptide-level quantification table (from FragPipe)
// Only required if using FragPipe-Analyst standalone
params.p_table = '/path/to/file/combined_protein.tsv'

// Output mode for FragPipe-Analyst: 'protein' or 'peptide'
params.analyst_mode = 'protein'

// Gene list to focus on in visualizations and reports
// (optional, used when filtering data or plotting)
params.gene_list = ['Q4KMQ2', 'A0FGR8']

// Plotting mode for visualization: 'gene', 'protein', etc.
// Used for higlighting gene/protein IDs in the plots
params.plot_mode = 'gene'

// GO term database to use for enrichment analysis, e.g., 'Hallmark', 'KEGG', 'Reactome'
params.go_database = 'Hallmark'

//*************************
//**SINGULARITY SETTINGS***
//*************************
singularity {
    enabled = true

    cacheDir = "${projectDir}/singularity"
}

executor.perCpuMemAllocation = true

//*************************
//**PROCESS SETTINGS*******
//*************************
process {
    withName:MSCONVERTER {
        cpus = 4
        memory = 16.GB
        executor = 'slurm'
    }
    withName:DATABASE{
        executor = 'local'
    }
    withName:FRAGPIPE{
        executor = 'slurm'
        cpus = 16
        memory = 64.GB
    }
    executor='local'
}